.card{
    width: 350px;
    font-family: arial;
    padding: 40px 80px;
    margin-bottom: 30px ;
    margin:  30px 30px 50px 50px;
    display: inline-block;
    background-color: bisque;
    border-radius: 28px;
background: linear-gradient(145deg, #cacaca, #f0f0f0);
box-shadow:  6px 6px 12px #5a5a5a,
             -6px -6px 12px #ffffff;
}
a{
    background-color: rgb(0, 26, 255);
  color: white;
  text-decoration: none;
  font-size: 20px;
  width: 200px;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 50px;
  font-family: arial black;
}
a:hover{
    background-color: azure;
    color: black;
}

h1{
    font-family: arial black;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    border-radius: 80px;

}

h1:hover{
    color: red;
}
h2{
    font-family: arial;
    font-size: 25px;
 text-align: center;
    color: orange;
    display: inline-block;
}
h4{
    font-size: 15px;
    font-family: arial;
    color: rgb(110, 110, 110);
    display: inline-block;
    text-decoration: line-through;
    text-align: center;
}

img{
    text-align: center;
    width: 200px;
    height: 200px;
   
}
.buttom{
    text-align: center;
    background-color: #cacaca;
    width: 170px;
    height: 170px;
}
